{% load i18n static %}



<div id="CookielawBanner">
    <div class="container">
        <div>
            <h6 class="h5 mt-2">CookieLaw Policy<a href="javascript:Cookielaw.createCookielawCookie();" class="close btn mr-2">&times;</a></h6>
        </div>
        <p>
            Our site saves small pieces of text information (cookies) on your device in order to deliver better content and for
            statistical purposes. You can disable the usage of cookies by changing the settings of your browser. By browsing our
            website without changing the browser settings you grant us permission to store that information on your device.
        </p>
        <a class="btn pull-right mb-2" href="{% url 'cookie-list' %}">How to configure</a>
    </div>
</div>