<!doctype html>

{% load static %}

<html lang="en">

    {% include 'head.html' %}

    <body class="js">

        {% include 'preloader.html' %}
        {% include 'header.html' %}
        {% include 'slider.html' %}

        {% block content %}
        <div class='container text-center'>
            <div class='row'>
                <div class='col'>
                    <br>
                    <h2>What we do at GameShopa.com</h2>
                    
                    <p>
                        GAMESHOPA is a participant in the Amazon Services LLC Associates Program,
                        an affiliate advertising program designed to provide a means for sites to
                        earn advertising fees by advertising and linking to Amazon.com

                        Since 2019 GAMESHOPA has been handpicking only the best selling, most interesting,
                        most desired, and just plain best video game products on the web.

                        We do not list products solely for a commission. Our goal is to show the best content possible,
                        and if a product happens to have an affiliate program, we'll apply it, but it has no impact on our decision making.

                        Affiliate links do not impact your cost as a consumer in anyway.
                        Your cost to purchase goods is the same regardless of our affiliate links.
                    </p>

                </div>
            </div>
        </div>
        {% endblock content %}
        
        {% include 'newsletter.html' %}

        {% include 'footer.html' %}
        {% include 'scripts.html' %}

    </body>
</html>