<!doctype html>

{% load static %}


<html lang="en">

    {% include 'head.html' %}

    <body class="js">

        {% include 'preloader.html' %}
        {% include 'header.html' %}
        {% include 'slider.html' %}

        {% block content %}
        <div class="container text-center" id="csuc">
            <div class="row">
                <div class="col">
                    <br>
                    <h4 id="cts">Your message was submitted successfully. Thank you.</h4>
                    <a href="{% url 'home' %}">
                        <h6 class="success">Return To Home</h6>
                    </a>
                </div>
            </div>
        </div>
        {% endblock content %}
        
        {% include 'newsletter.html' %}
        {% include 'footer.html' %}
        {% include 'scripts.html' %}

    </body>
</html>