{% load static %}
<!-- Start Shop Home List  -->
<section class="shop-home-list section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="shop-section-title">
                            <h1>On sale</h1>
                        </div>
                    </div>
                </div>
                <!-- Start Single List  -->
                {% for q in ttquery %}
                <div class="single-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="list-image overlay">
                                <img src="{{ q.timage }}" alt="#">
                                <a href="{{ q.tlink }}" class="buy"><i class="fa fa-shopping-bag"></i></a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12 no-padding">
                            <div class="content">
                                <h4 class="title"><a href="{{ q.tlink }}">{{ q.ttitle }}</a></h4>
                                <p class="price with-discount">{{ q.tprice }}</p>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                {% endfor %}
                <!-- End Single List  -->
            </div>
            
            <div class="col-lg-4 col-md-6 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="shop-section-title">
                            <h1>Best Seller</h1>
                        </div>
                    </div>
                </div>
                <!-- Start Single List  -->
                {% for q in lquery %}
                <div class="single-list">
                    <div class="row">
                        
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="list-image overlay">
                                <img src="{{ q.image }}" alt="#">
                                <a href="{{ q.link }}" class="buy"><i class="fa fa-shopping-bag"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 no-padding">
                            <div class="content">
                                <h5 class="title"><a href="{{ q.link }}">{{ q.title }}</a></h5>
                                <p class="price with-discount">{{ q.price }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End Single List  -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="shop-section-title">
                            <h1>Top viewed</h1>
                        </div>
                    </div>
                </div>
                <!-- Start Single List  -->
                {% for q in llquery %}
                <div class="single-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="list-image overlay">
                                <img src="{{ q.image }}" alt="#">
                                <a href="{{ q.link }}" class="buy"><i class="fa fa-shopping-bag"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 no-padding">
                            <div class="content">
                                <h5 class="title"><a href="{{ q.link }}">{{ q.title }}</a></h5>
                                <p class="price with-discount">{{ q.price }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End Single List  -->
            </div>
        </div>
    </div>
</section>
<!-- End Shop Home List  -->