{% load static %}
<!-- Start Midium Banner  -->
<section class="midium-banner">
    <div class="container">
        <div class="row">
            <!-- Single Banner  -->
            {% for que in medquery %}
            <div class="col-lg-6 col-md-6 col-12">
                <div class="single-banner">
                    <img src="{{ que.timage }}" alt="#">
                    
                </div>
                <div class="content">
                    <h3>{{ que.ttitle }}</h3>
                    <a href="{{ que.tlink }}">Shop Now</a>
                </div>
            </div>
            {% endfor %}
            <!-- /End Single Banner  -->
        </div>
    </div>
</section>
<!-- End Midium Banner -->