{% load static %}
<!-- Start Most Popular -->
<div class="product-area most-popular section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Trending in Video Games</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel popular-slider">
                    <!-- Start Single Product -->
                    {% for qt in trendquery %}
                    <div class="single-product">
                        <div class="product-img">
                            <a href="{{ qt.tlink }}" target="_blank">
                                <img class="default-img" src="{{ qt.timage }}" alt="#">
                                <img class="hover-img" src="{{ qt.timage }}" alt="#">
                            </a>
                            <div class="button-head">
                                <div class="product-action-2">
                                    <a title="Add to cart" href="{{ qt.tlink }}" target="_blank">Check Out</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="{{ qt.tlink }}" target="_blank">{{ qt.ttitle}}</a></h3>
                            <div class="product-price">
                                <span>{{ qt.tprice }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- End Single Product -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Most Popular Area -->