{% load static %}
<!-- Start Product Area -->
<div class="product-area section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Best Sellers in Video Games</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product-info">
                        <div class="tab-content" id="myTabContent">
                            <!-- Start Single Tab -->
                            <div class="tab-pane fade show active" id="man" role="tabpanel">
                                <div class="tab-single">
                                    <div class="row">
                                        {% for quer in pagpages %}
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="{{ quer.link }}" target="_blank">
                                                        <img class="default-img" src="{{ quer.image }}" alt="#">
                                                        <img class="hover-img" src="{{ quer.image }}" alt="#">
                                                    </a>
                                                    <div class="button-head">
                                                        <div class="product-action-2">
                                                            <a title="Add to cart" href="{{ quer.link }}" target="_blank">Check Out</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h3><a href="{{ quer.link }}" target="_blank">{{ quer.title }}</a></h3>
                                                    <div class="product-price">
                                                        <span>{{ quer.price }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!--/ End Single Tab -->
                            <div class="breadcrumbs">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="bread-inner">
                                                <nav aria-label="Page navigation conatiner">
                                                    <ul class="pagination justify-content-center text-center mb-5">
                                                        {% if pagpages.has_previous %}
                                                        <li>
                                                            <a href="?page={{ pagpages.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">&laquo; PREV </a>
                                                        </li>
                                                        {% endif %}
                                                        <span class="current">
                                                            Page {{ pagpages.number }} of {{ pagpages.paginator.num_pages }}.
                                                        </span>
                                                        {% if pagpages.has_next %}
                                                        <li>
                                                            <a href="?page={{ pagpages.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link"> NEXT &raquo;</a>
                                                        </li>
                                                        {% endif %}
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- End Product Area -->